.carousel-section {
    background: var(--light);
    padding: 3rem 1rem;
}

.products-section__title {
    width: fit-content;
    text-align: center;
    font-size: 2rem;
    margin: 50px auto;
    border: 1px solid var(--dark);
    padding: .5em 1em;
}

.products-section__nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.products-section__link {
    border: 1px solid var(--dark);
    padding: .5em 1em;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--dark);
    color: var(--light);
    text-transform: uppercase;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.products-section__link:hover {
    background-color: var(--light);
    color: var(--dark);
}

.products-section__link--active {
    background-color: var(--light);
    color: var(--dark);
}

.products-section__list {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

@media screen and (max-width: 815px) {
    
}