.chart-container {
    display: flex;
    justify-content: space-around;
}

.chart {
    height: 500px !important;
}

.pie-chart {
    width: 30% !important;
    height: 500px !important;
}

.chart-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.chart-data{
    height: 300px;
    margin: 1em 0;
    display: flex;
    overflow: auto;
}

.chart-data__table {
    width: 25%;
}

.table__collection {
    width: fit-content;
    margin: 0 0.5em;
    padding: 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
}

.table__badge {
    padding: 0.25em 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
    margin-left: 0.5em;
    background-color: #fff;
}