.product-card {
    width: 400px;
    height: 600px;
    position: relative;
    cursor: pointer;
}

.product-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-card__loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.loader {
    width: 10vh;
    height: 10vh;
    border-radius: 100%;
    border: 5px solid #fff;
    border-top: 5px solid var(--dark);
    animation: loader 1s infinite linear;
}

.product-card__actions {
    width: 90%;
    top: 2%;
    left: 5%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: #fff;
    z-index: 2;
}

.product-card__actions .pi {
    cursor: pointer;
    transition: color 0.15s ease-in-out;
}

.product-card__actions .pi-heart-fill:hover {
    color: #ff3333;
}

.product-card__actions .pi-shopping-cart:hover {
    color: #33dd33;
}

.product-card__actions .pi-trash:hover {
    color: #ff5555;
}

.product-card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.product-card:hover .product-card__overlay,
.product-card:hover .product-card__cta {
    opacity: 1;
}

.product-card:hover .product-card__cta {
    top: 50%;
}

.product-card__name {
    font-size: 1.5rem;
}

.product-card__price {
    font-size: 1.25rem;
}

.product-card__cta {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    color: #fff;
    background-color: var(--dark);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 815px) {
    .product-card {
        width: 300px;
    }

    .product-card__overlay {
        opacity: 1;
    }
}