.sidebar {
    background-color: var(--dark);
    color: var(--light);
    height: calc(100vh - 1em);
    width: 200px;
    padding: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__list {
    list-style: none;
    padding: 0;
}

.sidebar__link {
    text-decoration: none;
    color: var(--light);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 5px;
    margin: 0.5em 0;
}

.sidebar__link:hover {
    background-color: #003e85;
}

.sidebar__link--active {
    background-color: #003e85;
}