.app {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5em;
}

.header {
    background-color: var(--dark);
    height: 3em;
    margin-bottom: 0.5em;
}

.main {
    padding: 0.5em 1em;
}

.main__pagination {
    display: flex;
    justify-content: center;
}
