:root {
    font-family: 'Playfair Display', 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: #fff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --dark: #002147;
    --dark-shade: #2d63e6;
    --accent: #E6B02D;
    --light-shade: #ABA8C9;
    --light: #EFEFEC;
}

body {
    padding: 0.5em;
    overflow: hidden;
}
